.ProductDescription__Title {
    font-size: 35px;
}
.ProductDescription__info {
    padding: 5px;
    line-height: 180%;
}
.ProductDescription__info li {
    font-size: 18px;
    letter-spacing: 1px;
}